#submitComponent{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: solid;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 600;
}